@font-face {
    font-family: Lato;
    src: url(fonts/lato/Lato-Regular.ttf);
}

body{
    font-family: Lato,sans-serif;
}

a{
    color:#000;
}

a:hover{
    color:#289643;
    text-decoration: none;
}

.logos:hover{
    color:#000;
    text-decoration: none;
}

.navbar>.container>.collapse>ul>li>a:hover{
    color: #289643;
}

.nav-item>.dropdown-menu{
    margin-top: 18px;
    max-width: 100%;
}

.nav-item>.dropdown-menu>.active{
    color: #289643;
    background-color: #fff;
    font-weight: bold;
}

.active>a{
    color: #289643;
    font-weight: bold;
}

.navbar-nav>li>a:hover,
.mobile-sl-icon:hover,
.mobile-sl-text:hover{
    color: #289643;
    text-decoration: none;
}

.dropdown-item:active{
    color: #000;
    background-color: #fff;
}

.btn-primary{
    background-color:#1D4368;
    color: #ffffff;
    transition: all .40s ease-in-out;
    border-color: rgb(34, 74, 114);
}

.btn-primary:hover{
    background-color:rgb(21, 47, 73);
    color: #ffffff;
    border-color: rgb(34, 74, 114);
}

.btn-outline-light{
    color: #000;
    transition: all .40s ease-in-out;
    border-color: #e4e4e4;
    border-width: 1px;
}

.btn-outline-light:hover{
    background-color: #ffffff;
    color: #000;
    border-color: #000;
}

.btn-search{
    background-color: #1D4368;
    color: #fff;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #666666;
    border-radius: 0;
}

.button-cards{
    background-color: #1D4368;
    color: #fff;
    text-align: center;
}

.nowrap-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-card{
    box-shadow: 0 2px 10px #0000003b;
    cursor: pointer;
}

.product-card:hover{
    box-shadow: 0 5px 15px #0000003b;
    cursor: pointer;
}

.radius-5{
    border-radius: 5px;
}

.radius-10{
    border-radius: 10px;
}

.radius-15{
    border-radius: 15px;
}

.radius-20{
    border-radius: 20px;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}

.font-18{
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}

.font-22{
    font-size: 22px;
}

.font-24{
    font-size: 24px;
}

.font-32{
    font-size: 32px;
}

.card{
    border-radius: 5px;
}

.form-control{
    border: none;
    border-bottom: 1px solid #666666;
    border-radius: 0;
}

.modal-header>.close{
    padding: 0px;
    padding-top: 12px;
    color: #000;
    font-size: 32px;
}

.modalMasuk{
    padding-top: 80px;
}

.modal-content-masuk{
    border: none;
    border-top: 8px solid #1D4368;
}

.navbar-toggler{
    padding: 4px;
}

.form-daftar-2,
.form-daftar-3,
.form-daftar-4{
    display: none;
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}