@media (max-width: 991.98px) {

    .dekstop-carousel,
    .dekstop-content{
        display: none;
    }

    .navbar-nav>.radius-20{
        border-radius: 0px;
        margin-top: 10px;
    }

    .mobile-carousel{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
    }

    .carousel-inner{
        width: 100%;
    }

    .carousel-control-prev {
        transition: all .30s ease-in-out;
        left: 0%;
    }

    .carousel-control-next {
        transition: all .30s ease-in-out;
        right: 0%;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgb(238, 238, 238);
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 37%;
        bottom: 0;
        display: flex;
        width: 38px;
        height: 38px;
        background: var(--white);
        color: var(--text-primary);
        border-radius: 50%;
        opacity: 1;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    }

    .carousel-control-next {
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 15px 0px 0px 15px;
    }
    .carousel-control-prev {
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0px 15px 15px 0px;
    }

    .carousel-control-prev-icon {
        background-image: url(../../site/img/arrow-ios-left.svg);
    }

    .carousel-control-next-icon {
        background-image: url(../../site/img/arrow-ios-right.svg);
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 24px;
        height: 24px;
    }

    .mobile-carousel-item{
        width: 100%;
        height: 150px;
    }

    .mobile-carousel-search{
        top: 100%;
        width: 100%;
        position: absolute;
    }

    .mobile-carousel-search>.form-control{
        border: 0px;
        border-radius: 0px;
    }

    .mobile-carousel-search>.input-group-append>.input-group-text{
        border: 0px;
        border-radius: 0px;
    }

    .mobile-content>.row>.col-6{
        margin-bottom: 30px;
    }

    .mobile-content>.row>.col-6>a{
        text-decoration: none;
    }

    .card>img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-width: 100%;
        height: 120px;
    }

    .tab-pane>img{
        width: 100%;
        height: 230px;
    }

    .pills-item>a>img{
        width: 85px;
        height: 70px;
    }

    .card-pills>center>.card{
        border: none;
    }

    .card-body{
        padding-bottom: 10px;
    }

    .form-daftar{
        border: none;
        border-top: 8px solid #1D4368;
        border-radius: 5px;
        background-color: #fff;
        width: 95%;
        height: auto;
    }

    .mobile-sl-icon{
        display: none;
    }

}

@media (min-width: 992px) {

    .mobile-carousel,
    .mobile-content{
        display: none;
    }

    .navbar>.container>.collapse>.navbar-nav{
        margin-left: 50px;
    }

    .dekstop-carousel{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
    }

    .carousel-inner{
        width: 90%;
    }

    .carousel-control-prev {
        transition: all .30s ease-in-out;
        left: 4%;
    }

    .carousel-control-next {
        transition: all .30s ease-in-out;
        right: 4%;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgb(238, 238, 238);
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 40%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: var(--white);
        color: var(--text-primary);
        border-radius: 50%;
        text-align: center;
        opacity: 1;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    }

    .carousel-control-prev-icon {
        background-image: url(../../site/img/arrow-ios-left.svg);
    }

    .carousel-control-next-icon {
        background-image: url(../../site/img/arrow-ios-right.svg);
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 24px;
        height: 24px;
    }

    .dekstop-carousel-item{
        width: 100%;
        height: auto;
    }

    .dekstop-carousel-search{
        top: 93%;
        left: 25%;
        width: 50%;
        position: absolute;
    }

    .dekstop-content>.row>.col-3{
        margin-bottom: 30px;
    }

    .dekstop-content>.row>.col-3>a{
        text-decoration: none;
    }

    .card>img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-width: 100%;
        height: 200px;
    }

    .tab-pane>img{
        width: 100%;
        height: 230px;
    }

    .pills-item>a>img{
        width: 90px;
        height: 80px;
    }

    .card-pills>center>.card{
        border: none;
    }

    .card-body{
        padding-bottom: 10px;
    }

    .form-daftar{
        border: none;
        border-top: 8px solid #1D4368;
        border-radius: 5px;
        background-color: #fff;
        width: 50%;
        height: auto;
    }

    .mobile-sl-text{
        display: none;
    }

}